{% load staticfiles %}<!--tell Django that there are static files used on this page-->
<!doctype html>
<html>
    <div class="page-wrapper">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                My Joy Stories Project
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans"' rel='stylesheet' type='text/css'>
        {% block header %}{% endblock header %}
    </head>
    <body>
        <nav class="navbar">
	        <div class="container-fluid">
			        <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> My Joy Stories</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> New</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href"#"><span class="glyphicon glyphicon-user"></span>Hello, {{ user.username }}</a></li>
                    <li><small><a href="{% url 'auth_logout' %}"> (Log out)</a></small></p></li>
                    {% else %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span>Register</a></li>
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
                    {% endif %}
			        </ul>
	        </div>
        </nav>
        </header>
        <div class = "container-fluid b-1 text-center">
            {% block content %}{% endblock content %}
            {% block footer %}{% endblock footer %}
        </div>
    </body>
    </div>
</html>

<!--We’re not going to link to other HTML files like we normally would. 
This is why we name URLs — we can tell Django that we want to link to the URL 
named "home," and Django will automatically insert the right path. In the 
future, if you ever decide to change the URL (like changing /about/ to /about-us/), 
you would just need to change it in your urls.py file and Django will update your 
templates for you.-->