{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}
{% block content %}
{% load humanize %}
{% if posts %}
    <div class="post">
    {% for post in posts %}
        <div class="detail">
            <div class="well well-sm">
            <h1>{{ post.title }}</h1>   
            <h3>{{ post.gratitudeStmt }}</h3>
            <p><small>written by&nbsp;{{ post.user }} {{ post.published_date|naturaltime }}</small></p>
            <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-default">View</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="jumbotron">
        <h1>Welcome to My Joy Story App</h1>
        <h2>A place to journal about the things you appreciate</h2>
        {% if user.is_authenticated %}
        <h3> Click <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> New</a> to write your first post</h3>
        {% else %}
        <h3><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span> Register</a> for a free account to get started</h3>
        {% endif %}
    </div>
{% endif %}
{% endblock content %}
