{% extends 'base.html' %}
{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="well well-lg">

        <h1>{{ post.title }}</h1>
        <h2>{{ post.gratitudeStmt|linebreaksbr }}</h2>

    </div>

    <div class="post">
        {% if user == post.user %}
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% else %}
                <a class="btn otherBtn" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
            {% endif %}
            <a class="btn revBtn" title="edit post"href="{% url 'edit_post' slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></a>
            <a class="btn revBtn" title="delete post" href="{% url 'post_remove' slug=post.slug %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
            <div class="detail">
                <p>{{ post.story|linebreaksbr }}</p>
                <div class="well well-sm tags">
                    <p>{{ post.emotionTags }}, {{ post.sensationTags|linebreaksbr }}</p>
                </div>
            </div> 
    {% if user == post.user %}
    <form method="POST" >
        {% csrf_token %}
        <div class= "share-form">{{ form}} <button type="submit" class = "btn-small">Save Privacy</button></div>
    </form>
    {% endif %}
    </div>
{% endblock content %}

