{% extends 'base.html' %}
{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="post">
        {% if user == post.user %}
             <a class="btn btn-default" href="{% url 'edit_post' slug=post.slug %}"><span class="glyphicon glyphicon-pencil"> Edit</a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>Jesus,&nbsp; {{ post.gratitudeStmt|linebreaksbr }}</p>
        <p>I felt:&nbsp;{{ post.emotionTags|linebreaksbr }}</p>
        <p>My body felt:&nbsp;{{ post.sensationTags|linebreaksbr }}</p>
        <p>{{ post.story|linebreaksbr }}</p>
    </div>
{% endblock content %}

