{% extends 'base.html' %}
{% block title %}
    New Post - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Write a new Joy Story</h1>
    <form role="form" action="" method="post">
        <fieldset class="control-group">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
            {{ field.errors }}
                <div class= "control-label">{{ field.label_tag }}</div>
                <div class>{{ field }}</div>
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
        </fieldset>
    </form>
{% endblock content %}