{% extends 'base.html' %}
{% block title %}
    New Post - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="well well-lg">
        <h1>Write a new Joy Story</h1>
        <ul class="my-list">
            <li>Think of a story that has a moderate feeling level, and is not too intense</li>
            <li>A story that you don't need to feel guarded in re-telling</li>
            <li>A story you are a participant in</li>
            <li>A story that illustrates one or more specific good feelings</li>
        </ul>
    </div>
    <div class="post">
    <form role="form" action="" method="post" class="post-form">
        <fieldset class="control-group">
        {% csrf_token %}
            {{ form.as_p }}
        </fieldset>
        <button type="submit" class= "btn save">Submit</button>
    </form>
    </div>
{% endblock content %}